<% content_for :title do %>Invocations - Edit <%=@locality.name%>
<% end %>
<% content_for :locality_class do %>active
<% end %>

<% content_for :locality_heading do %>
  Editing <span class="locality"><%= @locality.name %></span>
<% end %>
<% content_for :locality_button do %>
  Update
<% end %>
<%= render 'form' %>
