<% page_name 'Localities' %>

<div class="row">
  <div class="col-lg-10 col-lg-offset-1 col-md-6">
    <h1 class="page-header">Locations</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-10 col-lg-offset-1 col-md-12">
    <ul>
      <% @localities.each do |locality| %>
        <li><%= link_to locality.name, locality_path(locality) %></li>
      <% end %>
    </ul>

    <% if user_signed_in? && current_user.has_role?(:admin) %>
      <p><%= link_to "Add a new locality!", new_locality_path %></p>
    <% end %>
  </div>
</div>
