<% content_for :title do %>Invocations - New Locality
<% end %>
<% content_for :locality_class do %>active
<% end %>

<% content_for :locality_heading do %>
  New Locality
<% end %>

<div class='row'>
  <div class='col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2 authform'>
    <%= render 'form' %>
  </div>
</div>
