<% content_for :title do %>Invocations - <%=@locality.name%>
<% end %>
<% content_for :locality_class do %>active
<% end %>

<h1><%= @locality.name %></h1>
<p><strong>City</strong> <%= @locality.city %></p>

<p><%= link_to "Edit this locality", edit_locality_path(@locality) %></p>