[submodule "cookbooks/nodejs"]
	path = cookbooks/nodejs
	url = https://github.com/mdxp/nodejs-cookbook
[submodule "cookbooks/rbenv"]
	path = cookbooks/rbenv
	url = https://github.com/fnichol/chef-rbenv
