<% content_for :title do %>Invocations - Help<% end %>
<% content_for :help_class do%>active<% end %>

<% content_for :body do %>
<h1 class="page-header">Help CFFC Invocation Tracker</h1>

<p>This is the CFFC Invocation Tracker. Welcome! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Ea et exercitationem quidem reiciendis. A delectus magni nemo quisquam reiciendis rerum sint, vitae!
    Aliquam cumque delectus deleniti est officia, omnis tempore!</p>

<div class="row">

</div>
<% end %>
