<% page_name 'Help & FAQs' %>
<div class="row">
  <div class="col-lg-10 col-lg-offset-1 col-md-6">
    <h1 class="page-header">Need Help?</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-10 col-lg-offset-1 col-md-6">
    <dl class="faq">
      <dt>Who are you?</dt>
      <dd>We are awesome.</dd>

      <dt>Why are you doing this?</dt>
      <dd>Cause it's cool.</dd>

      <dt>I don’t have time to monitor invocations. Is there something else I can do to help?</dt>
      <dd>Maybe...</dd>

      <dt>My city/county does not have an invocation. Should I still be monitoring it?</dt>
      <dd>Yes. What if they start?</dd>

      <dt>The Council/Commission where I live says its own prayer/invocation. Is that allowed?</dt>
      <dd>Uhh....</dd>

      <dt>Do I have to stand for the invocation and do I have to stand for or recite the Pledge of Allegiance?</dt>
      <dd>Nope!</dd>
    </dl>
  </div>
</div>
