<% page_name 'Home' %>

<div class="row">
  <div class="col-lg-10 col-lg-offset-1 col-md-6">
    <h1 class="page-header text-hide">Invocations Online</h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-10 col-lg-offset-1 col-md-12">
    <p>Welcome in Invocations Online! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Ea et exercitationem quidem reiciendis. A delectus magni nemo quisquam reiciendis rerum sint, vitae!
      Aliquam cumque delectus deleniti est officia, omnis tempore!</p>
  </div>
</div>
<div class="row">

  <div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-6 graph">
    <div id="population_chart"></div>
    <h4>Population</h4>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6 graph">
    <div id="invocations_chart"></div>
    <h4>Invocations</h4>
  </div>
</div>
<div class="row">
  <div class="col-lg-10 col-lg-offset-1 col-md-12">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium aperiam aspernatur at debitis esse,
      expedita magnam maiores maxime praesentium quasi quia quidem suscipit tempore voluptas! Commodi corporis
      exercitationem qui?</p>

    <p>Accusamus adipisci animi asperiores, beatae debitis dicta earum eos est eveniet exercitationem illum inventore
      maiores maxime minus nihil nisi nulla odio optio perferendis quam quod, quos ratione rem suscipit voluptas.</p>

    <p>Assumenda culpa cumque debitis deserunt dolorem dolorum eius eligendi fuga harum illo, illum impedit incidunt
      iure,
      magni maiores, non numquam odio placeat ratione repellendus sint tenetur totam vero. Autem, quaerat.</p>

    <p>Adipisci alias amet debitis delectus dignissimos dolorem earum est harum labore laudantium minima molestiae
      nostrum
      nulla possimus quasi quis reiciendis, reprehenderit rerum saepe sed ullam velit veniam veritatis vitae
      voluptas?</p>
  </div>
</div>