<% content_for :page_name do %>
  More Info
<% end %>
<% content_for :about_class do %>
  active
<% end %>

<div class="row">
  <div class="col-lg-10 col-lg-offset-1 col-md-6">
    <h1 class="page-header">More Info</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-10 col-lg-offset-1 col-md-12">
    <ul>
      <li>Contact information for the project team(s)</li>
      <li>Highlights of the most disparate data and the most diverse invocation programs</li>
      <li>Instructions on conducting your own invocation</li>
      <li>Information on how easy it is to help as a volunteer and how anyone can help, regardless of religious
        affiliation
      </li>
      <li>Links to local groups in the area responsible for helping the project</li>
      <li>National state/church resources and groups</li>
      <li>Links to media stories about invocations and state/church news</li>
      <li>Links to Pew, ARIS and other demographic data</li>
    </ul>
  </div>
</div>
