<% content_for :title do %>Invocations - Survey: <%= params[:locations] %>
<% end %>

<h1 class="page-header">CFFC Invocation Tracker Survey for <span class="city-name"><%= params[:locations] %></span></h1>

<div class="row ">
  <div class="col-md-5 text-right">
    <p>*Required but not indicated until complete</p>

    <p>!Displayed on abbreviated display pages</p>
  </div>

</div>

<form id="survey_form" action="#" method="post" enctype="multipart/form-data">
<input name="location" type="hidden" value="<%= params[:locations] %>"/>
<div class="row">
  <div class="col-md-5 text-right">
    <label for="meeting_type">*Meeting Type:</label>
  </div>
  <div>
    <select name="meeting_type" id="meeting_type">
      <option value="Regular">Regular</option>
      <option value="Special">Special</option>
      <option value="Workshow">Workshop</option>
      <option value="Other">Other/Explain</option>
    </select>
  </div>
</div>

<div class="row hide">
  <div class="col-md-5 text-right">
    <label for="meeting_type_explaination">Please explain:</label>
  </div>

  <div>
    <input type="text" placeholder="Other meeting type explaination" id="meeting_type_explaination"
           name="meeting_type_explaination" size="55" maxlength="55"/>
  </div>
</div>

<div class="row">
  <!-- todo (no access to future, and warning if not within 30 days +/-)-->
  <!-- todo (With warning if not between 7 AM and 9 PM – local time any thought to time zones)-->
  <div class="col-md-5 text-right">
    <label for="eventDate">*!Date:</label>
  </div>

  <div>
    <input type="text" id="eventDate" name="eventDate" placeholder="<%= Time.now.to_s(:event_date_time) %>" size="22"/>
  </div>
</div>

<!--begin invocation-specific fields-->
<div class="row">
  <div class="col-md-5 text-right">
    <label for="invocation_conducted"> *!Invocation conducted? </label>
  </div>

  <div>
    <!--todo If no or MOS then close questions 5 thru 13-->
    <select name="invocation_conducted" id="invocation_conducted">
      <option value="Yes">Yes</option>
      <option value="No">No</option>
      <option value="Moment of Silence">Moment of Silence</option>
    </select>
  </div>
</div>

<div class="row invocation_only">
  <div class="col-md-5 text-right">
    <label for="pledge_before">*Was the invocation immediately before or immediately after the Pledge of
      Allegiance?</label>
  </div>

  <div>
    <select name="pledge_before" id="pledge_before">
      <option value="">Select</option>
      <option value="Before">Immediately before</option>
      <option value="After">Immediately after</option>
      <option value="Neither">Neither</option>
      <option value="Unknown">Unknown</option>
    </select>
  </div>
</div>

<div class="row invocation_only">
  <div class="col-md-5 text-right">
    <label for="asked_to_stand">*Were members of the public asked/invited to stand?</label>
  </div>

  <div>
    <select name="asked_to_stand" id="asked_to_stand">
      <option value="">Select</option>
      <option value="Yes, by official/employee">Yes, by official/employee</option>
      <option value="Yes, by speaker">Yes, by speaker</option>
      <option value="Both">Both</option>
      <option value="Neither">Neither</option>
      <option value="Unknown">Unknown</option>
    </select>
  </div>
</div>

<div class="row invocation_only">
  <div class="col-md-5 text-right">
    <label for="speaker_preached">*Did the speaker denigrate anyone, threaten damnation, or preach conversion?</label>
  </div>

  <div>
    <select name="speaker_preached" id="speaker_preached">
      <option value="">Select</option>
      <option value="Yes">Yes, explain</option>
      <option value="No">No</option>
      <option value="Unknown">Unknown</option>
    </select>
  </div>
</div>

<div class="row hide">
  <div class="col-md-5 text-right">
    <label for="preached_explain">Please explain:</label><br/>
  </div>
  <div>
    <textarea name="preached_explain" id="preached_explain" cols="50" rows="4" placeholder="Denigrate, damn, proselytize?"></textarea>
  </div>
</div>

<div class="row invocation_only">
  <div class="col-md-5 text-right">
    <label for="honorific">Honorific (E.g. Rev., Dr., Pr., Ps.)</label>
  </div>
  <div>
    <input type="text" name="honorific" id="honorific" maxlength="20" placeholder="Rev., Dr., Pr., Ps."/>
  </div>
</div>

<div class="row invocation_only">
  <div class="col-md-5 text-right">
    <label for="speaker_name">*Name of Speaker</label>
  </div>

  <div>
    <!--todo: add ajax search filter-->
    <input type="text" name="speaker_name" id="speaker_name" placeholder="Name of the speaker"/>
  </div>
</div>

<div class="row invocation_only">
  <div class="col-md-5 text-right">
    <label for="affiliation">*Organization or House of Worship</label>
  </div>
  <div>
    <!--todo: add ajax search filter-->
    <input type="text" name="affiliation" id="affiliation" placeholder="Affiliation"/>
  </div>
</div>

<div class="row invocation_only">
  <div class="col-md-5 text-right">
    <label for="religion">*!Major Religion</label>
  </div>

  <div>
    <!--todo (Could/should match PEW or ARIS survey data)-->
    <select name="religion" id="religion">
      <option value="">Select</option>
      <option value="None">None</option>
      <option value="Awesomeness">Awesomeness</option>
      <option value="DBAD">DBAD</option>
      <option value="Other">Other</option>
    </select>
  </div>
</div>

<div class="row hide invocation_only">
  <div class="col-md-5 text-right">
    <label for="other_relition">Other Religion</label>
  </div>
  <div>
    <input type="text" name="other_religion" id="other_religion" placeholder="Religion"/>
  </div>
</div>

<div class="row invocation_only">
  <div class="col-md-5 text-right">
    <label for="denomination">*Denomination/Sect (if known)</label>
  </div>

  <div>
    <select name="denomination" id="denomination">
      <option value="">Select</option>
      <option value="None">None</option>
      <option value="Awesomeness">Awesomeness</option>
      <option value="DBAD">DBAD</option>
      <option value="Other">Other</option>
    </select>
  </div>
</div>

<div class="row hide invocation_only">
  <div class="col-md-5 text-right">
    <label for="other_denomination">Other Denominiation</label>
  </div>
  <div>
    <input type="text" name="other_denomination" id="other_denomination" placeholder="Denomination"/>
  </div>
</div>

<div class="row invocation_only">
  <div class="col-md-5 text-right">
    <label for="speaker_praised">*Was the speaker and/or organization promoted or praised in any way other than
      announcing the speaker’s name and affiliation?</label>
  </div>

  <div>
    <select name="speaker_praised" id="speaker_praised">
      <option value="">Select</option>
      <option value="Yes">Yes, explain</option>
      <option value="No">No</option>
      <option value="Unsure">Unsure</option>
    </select>
  </div>
</div>

<div class="row hide invocation_only">
  <div class="col-md-5 text-right">
    <label for="praised_explain">Please explain:</label><br/>
  </div>

  <div>
    <textarea name="praised_explain" id="praised_explain" cols="50" rows="4" placeholder="Praise or Promoted?"></textarea>
  </div>
</div>
<!--end invocation-specific fields-->

<div class="row">
  <div class="col-md-5 text-right">
    <label for="notes">Notes or any specific points of concern during invocation or on agenda or comments from above
      questions</label>
  </div>
  <div>
    <textarea name="notes" id="notes" cols="50" rows="4" placeholder="Notes/comments"></textarea>
  </div>
</div>

<div class="row">

  <div class="col-md-5 text-right">
    <label for="meeting_url">Link to meeting page (if available)</label>
  </div>
  <div>
    <input type="url" name="meetint_url" id="meeting_url" placeholder="Meeting URL"/></div>
</div>

<div class="row">
  <div class="col-md-5 text-right">
    <label for="minutes_url">Link to minutes (if available)</label>
  </div>

  <div>
    <input type="url" name="minutes_url" id="minutes_url" placeholder="Meething URL"/>
  </div>
</div>

<div class="row">
  <div class="col-md-5 text-right">
    <label for="agenda_url">Link to agenda (if available)</label>
  </div>

  <div>
    <input type="url" name="agenda_url" id="agenda_url" placeholder="Agenda URL"/>
  </div>
</div>

<div class="row">
  <div class="col-md-5 text-right">
    <label for="media_url">Link to audio or video (if available)</label>
  </div>

  <div>
    <input type="url" name="media_url" id="medial_url" placeholder="Media URL"/>
  </div>
</div>

<div class="row">
  <div class="col-md-5 text-right">
    <label for="attachments">Attachments</label>
  </div>

  <div class="col-md-5 text-left">
    <input type="file" name="attachments" id="attachments"/>
  </div>
</div>

<br/>
<br/>
<!--todo compare with new version of word doc-->
<div class="row">
  <div class="col-md-5 text-right ">
    <p>Before submitting, the user must read/click an affidavit and terms of use agreement including
      acknowledging it may be used in litigation.</p>
  </div>


  <div class="col-md-5">
    <input type="checkbox" name="policy" id="policy"/>
    <label for="policy">I Agree.</label>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <input type="submit" value="Make it so, Number One" id="submit" class="btn btn-md btn-default"/>
  </div>
</div>
</form>