<% page_name 'Church/State Violation' %>
<div class="row">
  <div class="col-lg-10 col-lg-offset-1 col-md-12">
    <h1 class="page-header">Church/State Violation</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-10 col-lg-offset-1 col-md-12">
    <p>Think you've discovered a violation? The first thing to do is confirm whether or not it is really a violation.
      Find more information on specific state/church and equal access issues at our favorite page&mdash;the
      <a href="http://ffrf.org/faq/state-church" target="_blank">State-Church FAQs at the Freedom From Religion
        Foundation</a></p>

    <p>If you're sure it is a violation it is best to start locally&mdash;unless the matter is urgent. If it requires
      resolution in 48 hours or less, see the list of national organizations below since there may not be time to
      collaborate with local activists.</p>

    <p>In cases where the matter is ongoing and doesn't require an immediate intervention, start locally. Someone may
      already be working on the issue already and your help could really make a difference. Find local chapters and
      affiliates of national freethought organizations here. If they aren't doing state/church separation activism yet&mdash;ask
      them “Why not?”</p>

    <p>Find a local group:</p>
    <ul>
      <li><a href="http://www.secularconnect.org/groups" target="_blank">Secular Connect</a></li>
      <li><a href="http://www.seculardirectory.org/find-a-group/" target="_blank">Secular Directory</a></li>
      <li><a href="http://atheists.org/activism/local-partners-affiliates" target="_blank">American Atheists</a></li>
      <li>
        <a href="http://americanhumanist.org/What_We_Do/Local_Groups" target="_blank">American Humanist Association</a>
      </li>
      <li><a href="http://https://www.au.org/get-involved/chapters" target="_blank">Americans United for Separation of
        State and Church</a></li>
      <li><a href="http://ffrf.org/get-involved/ffrf-chapters" target="_blank">Freedom From Religion Foundation</a></li>
    </ul>
    <p>Report a violation to a regional or national organization:</p>
    <ul>
      <li><a href="https://www.aclu.org/affiliates" target="_blank">American Civil Liberties Union</a> (Find an
        affiliate here)
      </li>
      <li>
        <a href="https://www.au.org/get-involved/report-a-violation/" target="_blank">Americans United for Separation of
          Church and State</a></li>
      <li><a href="http://ffrf.org/legal/report" target="_blank">Freedom From Religion Foundation</a></li>
      <li><a href="http://humanistlegalcenter.org/contact/report-a-violation/" target="_blank">Appignani Humanist Legal
        Center</a> (part of the American Humanist Association
      </li>
    </ul>

  </div>
</div>
