<% page_name 'Volunteer' %>

<div class="row">
  <div class="col-lg-10 col-lg-offset-1 col-md-12">
    <h1 class="page-header">Wanna help?</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-10 col-lg-offset-1 col-md-12">
    <p>Keeping track of invocations at your local government meetings is pretty simple. Here’s a quick breakdown of the
      task.</p>

    <ul>
      <li>Watch the first few minutes of each meeting</li>
      <li>Complete a Meeting Report Form online.</li>
      <li>Your report will be reviewed and approved by our Admin Team then the data will be added to the summary data
        for your Location.
      </li>
    </ul>

    <p>If you are able to do this about twice a month for your local government meeting we’d love to have your help!</p>

    <p>Ready to get started? <%= link_to 'Create an account!', new_user_registration_path %></p>

    <h2 id="terms">Terms and Conditions</h2>
    <p>Thanks for using InvocationsOnline.com! By using this website, you agree to these terms and conditions, in full.</p>

    <p>As used in these terms and conditions, "you" means the individual or entity using the website, "we," "us" or "CFFC" means the Central Florida Freethought Community, Inc.</p>

    <p>Unless otherwise stated or prohibited by law, CFFC and/or its licensors own the intellectual property rights in the website and material on the website. Subject to the license below, all these intellectual property rights are reserved.</p>

    <p>You may view, download for caching purposes only, and print pages from the website for your own personal use or use, subject to the restrictions set out below and elsewhere in these terms and conditions, or in accordance with the doctrine of fair use. You must not:</p>

    <ul>
      <li>sell, rent or sub-license material from the website;</li>
      <li>reproduce, duplicate, copy or otherwise exploit material on this website for a commercial purpose;</li>
      <li>edit or otherwise modify any material on the website; </li>
    </ul>

    <h3>No warranties</h3>

    <p>
      This website is provided "as is" without any representations or warranties, express or implied. CFFC makes no representations or warranties in relation to this website or the information and materials provided on this website. While it is our goal to always accurately represent the information we provide, CFFC does not warrant that:
    </p>

    <ul>
      <li>this website will be constantly available, or available at all; or</li>
      <li>the information on this website is complete, true, accurate or non-misleading.</li>
    </ul>

    <p>Nothing on this website constitutes, or is meant to constitute, advice of any kind. If you require advice in relation to any legal matter you should consult an attorney.</p>

    <h3>Limitations of liability</h3>

    <p>CFFC will not be liable to you (whether under the law of contact, the law of torts or otherwise) in relation to the contents of, or use of, or otherwise in connection with, this website:</p>

    <ul>
      <li>to the extent that the website is provided free-of-charge, for any direct loss;</li>
      <li>for any indirect, special or consequential loss; or</li>
      <li>for any business losses, loss of revenue, income, profits or anticipated savings, loss of contracts or business relationships, loss of reputation or goodwill, or loss or corruption of information or data.</li>
    </ul>

    <p>These limitations of liability apply even if CFFC has been expressly advised of the potential loss.</p>

    <h3>Exceptions</h3>

    <P>Nothing in this website disclaimer will exclude or limit any warranty implied by law that it would be unlawful to exclude or limit; and nothing in this website disclaimer will exclude or limit CFFC’s liability in respect of any:</P>

    <ul>
      <li>fraud or fraudulent misrepresentation on the part of CFFC; or</li>
      <li>matter which it would be illegal or unlawful for CFFC to exclude or limit, or to attempt or purport to exclude or limit, its liability.</li> 
    </ul>

    <h3>Reasonableness</h3>

    <p>By using this website, you agree that the exclusions and limitations of liability set out in this website disclaimer are reasonable. If you do not think they are reasonable, you must not use this website.</p>

    <h3>Unenforceable provisions</h3>

    <p>If any provision of this website disclaimer is, or is found to be, unenforceable under applicable law, that will not affect the enforceability of the other provisions of this website disclaimer.</p>

    <h3>Indemnity</h3>

    <p>You hereby indemnify CFFC and undertake to keep CFFC indemnified against any losses, damages, costs, liabilities and expenses (including without limitation legal expenses and any amounts paid by CFFC to a third party in settlement of a claim or dispute on the advice of CFFC’s legal advisers) incurred or suffered by CFFC arising out of any breach by you of any provision of these terms and conditions.</p>

    <h3>Variation</h3>

    <p>
      CFFC may revise these terms and conditions from time-to-time. Revised terms and conditions will apply to the use of this website from the date of the publication of the revised terms and conditions on this website. Please check this page regularly to ensure you are familiar with the current version.
    </p>

    <h3>Assignment</h3>

    <p>
      CFFC may transfer, sub-contract or otherwise deal with CFFC’s rights and/or obligations under these terms and conditions without notifying you or obtaining your consent. You may not transfer, sub-contract or otherwise deal with your rights and/or obligations under these terms and conditions.
    </p>

    <h3>Severability</h3>

    <p>If a provision of these terms and conditions is determined by any court or other competent authority to be unlawful and/or unenforceable, the other provisions will continue in effect. If any unlawful and/or unenforceable provision would be lawful or enforceable if part of it were deleted, that part will be deemed to be deleted, and the rest of the provision will continue in effect.</p> 

    <h3>Entire agreement</h3>

    <p>These terms and conditions, constitute the entire agreement between you and CFFC in relation to your use of this website, and supersede all previous agreements in respect of your use of this website.</p>

    <h3>Law and jurisdiction</h3>

    <p>These terms and conditions will be governed by and construed in accordance with Florida Statutes and any disputes relating to these terms and conditions will be subject to the exclusive jurisdiction of the courts of the State of Florida. </p>

    <h3>InvocationOnline.com details</h3>

    <p>The CFFC is registered in the State of Florida.</p>

    <p>
      CFFC's contact information is:<br/>
      PO Box 621123<br/>
      Oviedo, FL 32732<br/>
      <%= mail_to 'info@cflfreethought.org' %>
    </p>

    <h3>Credit</h3>

    <p>
      This document was created using a template from  <%= link_to 'http://www.freenetlaw.com' %>.
    </p>

  </div>
</div>
