<% content_for :page_name do %>
  Volunteer
<% end %>
<% content_for :vol_class do %>
  active
<% end %>

<div class="row">
  <h1 class="page-header">Wanna help?</h1>
</div>


<div class="row">
  <p>This is the CFFC Invocation Tracker. Welcome! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Ea et exercitationem quidem reiciendis. A delectus magni nemo quisquam reiciendis rerum sint, vitae!
    Aliquam cumque delectus deleniti est officia, omnis tempore!</p>
</div>
