<% content_for :page_name do %>
  Volunteer
<% end %>
<% content_for :vol_class do %>
  active
<% end %>

<div class="row">
  <h1 class="page-header">Wanna help?</h1>
</div>

<div class="row">
  <p>Would you like to help record invocations? <%= link_to 'Create an account!', new_user_registration_path %></p>
</div>
