<% page_name 'Volunteer' %>

<div class="row">
  <div class="col-lg-10 col-lg-offset-1 col-md-6">
    <h1 class="page-header">Wanna help?</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-10 col-lg-offset-1 col-md-12">
    <p>Keeping track of invocations at your local government meetings is pretty simple. Here’s a quick breakdown of the
      task.</p>

    <ul>
      <li>Watch the first few minutes of each meeting</li>
      <li>Complete a Meeting Report Form online.</li>
      <li>Your report will be reviewed and approved by our Admin Team then the data will be added to the summary data
        for your Location.
      </li>
    </ul>

    <p>If you are able to do this about twice a month for your local government meeting we’d love to have your help!</p>

    <p>Ready to get started? <%= link_to 'Create an account!', new_user_registration_path %></p>

    <h2 id="terms">Terms and Conditions</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Ea et exercitationem quidem reiciendis. A delectus magni nemo quisquam reiciendis rerum sint, vitae!
      Aliquam cumque delectus deleniti est officia, omnis tempore!</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet commodi, consequuntur corporis,
      cupiditate deleniti dicta doloremque, fugit ipsam maiores numquam odit pariatur quia quos soluta tempore totam
      veniam vitae?</p>

    <p>Dolor dolore earum iste maxime qui quisquam ratione reiciendis rerum sunt tempora totam, vero voluptate
      voluptatum. Enim, explicabo, nihil? Architecto dolor id iure labore minima nisi odio qui repellendus totam.</p>

    <p>A accusamus aliquam animi atque cupiditate deserunt dolorem doloribus eaque exercitationem facilis hic ipsam
      ipsum iste labore, nam natus nesciunt nihil nobis numquam possimus repudiandae rerum soluta sunt ut veritatis!</p>

    <p>Autem cum, delectus dolor doloremque doloribus ipsa maxime minima nostrum perspiciatis praesentium provident qui
      soluta tempore! Accusantium aliquam aperiam, cupiditate, distinctio, esse illum laborum nam nesciunt odio quisquam
      tenetur voluptas?</p>

    <p>Blanditiis dignissimos distinctio dolores, hic impedit minima molestiae officia optio provident quae quia sequi
      soluta suscipit tempore veritatis vitae voluptates. Dolorum itaque quisquam ratione temporibus. Blanditiis ea
      eligendi iste reprehenderit!</p>

    <h2 id="policy">Privacy Policy</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Ea et exercitationem quidem reiciendis. A delectus magni nemo quisquam reiciendis rerum sint, vitae!
      Aliquam cumque delectus deleniti est officia, omnis tempore!</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet commodi, consequuntur corporis,
      cupiditate deleniti dicta doloremque, fugit ipsam maiores numquam odit pariatur quia quos soluta tempore totam
      veniam vitae?</p>

    <p>Dolor dolore earum iste maxime qui quisquam ratione reiciendis rerum sunt tempora totam, vero voluptate
      voluptatum. Enim, explicabo, nihil? Architecto dolor id iure labore minima nisi odio qui repellendus totam.</p>

    <p>A accusamus aliquam animi atque cupiditate deserunt dolorem doloribus eaque exercitationem facilis hic ipsam
      ipsum iste labore, nam natus nesciunt nihil nobis numquam possimus repudiandae rerum soluta sunt ut veritatis!</p>

    <p>Autem cum, delectus dolor doloremque doloribus ipsa maxime minima nostrum perspiciatis praesentium provident qui
      soluta tempore! Accusantium aliquam aperiam, cupiditate, distinctio, esse illum laborum nam nesciunt odio quisquam
      tenetur voluptas?</p>

    <p>Blanditiis dignissimos distinctio dolores, hic impedit minima molestiae officia optio provident quae quia sequi
      soluta suscipit tempore veritatis vitae voluptates. Dolorum itaque quisquam ratione temporibus. Blanditiis ea
      eligendi iste reprehenderit!</p>
  </div>
</div>
