<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  </head>
  <body>
    <h1>Account deactivated</h1>
    <p>Your account with email <%= @user.email %> has been deactivated.</p>
    <p>
      You can still login but you will not be able to create meetings.
    </p>
  </body>
</html>