<% page_name 'Edit Meeting' %>
<% content_for :scripts do %>
  <%= javascript_include_tag 'jquery-ui-timepicker-addon', 'datetime', 'hideShowClear', 'speakerLiveSearch' %>
<% end %>
<div class='row'>
  <div class='col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2 authform'>
    <%= render 'form' %>
  </div>
</div>
