<% content_for :page_name do %>
  My Meeting Data
<% end %>
<!--todo add submitted user specific meeting data-->

<div class="row">
  <div class="col-lg-10 col-lg-offset-1 col-md-6">
    <h1 class="page-header">My Meeting Data</h1>
  </div>
</div>