<div class="col-lg-10 col-lg-offset-1 col-md-6">
<%# Rails flash messages styled for Bootstrap 3.0 %>
  <% if user_signed_in? %>
    <% unless current_user.approved? %>
      <div class='alert alert-danger'>
        <%= content_tag :div, t('devise.registrations.signed_up_but_not_approved'), id: 'flash_unapproved' %>
      </div>
    <% end %>
  <% end %>
  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
      <div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      </div>
    <% end %>
  <% end %>
</div>
