<% content_for :footer do %>
  <div class="row">
    <div class="col-lg-12 col-md-12 footnote">
      <small>* The data from Pew has been simplified for graphical representation as follows: Responses in the
        categories
        of
        'Other Christian' and 'Other World Religion' have been combined into 'Other Religion'. Unaffiliated has been
        changed
        to 'None'. Responses in the category of 'Don’t Know/Refused' have been added to 'None'. The responses Mormon,
        Buddhist, and Hindu which were originally <0.5 have been rounded up to 0.5 each.
      </small>
    </div>
  </div>
<% end %>
